// Modal css\

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent8);
  z-index: 99;
  &.dark {
    background-color: var(--accent9);
  }
}

figure {
  padding: 4px;
  margin: auto;
  figcaption {
    background-color: var(--text-color1);
    color: var(--text-color2);
    font-style: italic;
    padding: 2px;
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: var(--text-color1);
  overflow: initial;
  border-radius: 10px;
  outline: none;
  .portfolioSlides {
    padding: '0.5em';
    background-color: var(--primary-color);
    margin: '0.5em';
  }
  .box_inner {
    height: 90vh;
    width: 90vw;
    overflow-y: auto;

    // @media (max-width: 1400px) {
    //   width: 900px;
    // }
    // @media (max-width: 992px) {
    //   width: 700px;
    // }
    // @media (max-width: 768px) {
    //   width: 560px;
    // }
    // @media (max-width: 599px) {
    //   width: 460px;
    // }
    // @media (max-width: 490px) {
    //   width: 360px;
    // }
    // @media (max-width: 420px) {
    //   width: 320px;
    // }
    &.blog-post {
      padding: 0 50px;
      @media (max-width: 767px) {
        padding: 0 15px;
      }
      .title-section {
        padding: 50px 0;
        @media (max-width: 767px) {
          padding: 50px 0 20px;
        }
      }
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 0.3s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.close-modal {
  background: transparent;
  border: none;
  display: flex;
  width: 45px;
  height: 45px;
  position: absolute;
  z-index: 4;
  right: -50px;
  top: -32px;
  @media screen and (max-width: 1199px) {
    right: 0px;
    top: -60px;
  }
  @media screen and (max-width: 575px) {
    right: -10px;
    top: -37px;
  }
  img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: absolute;
    filter: var(--inversion);
    transition: 0.3s;
    @media screen and (max-width: 575px) {
      width: 30px;
      height: 30px;
    }
  }
  &:hover {
    img {
      filter: invert(0.8);
    }
  }
}

.custom-modal.dark .box_inner::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.custom-modal.dark .box_inner::-webkit-scrollbar-track {
  background: var(--accent5); /* color of the tracking area */
}

.custom-modal.dark .box_inner::-webkit-scrollbar-thumb {
  background-color: var(--accent7); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid var(--accent5); /* creates padding around scroll thumb */
}

.embed-youtube {
  position: relative;
  padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
  /* padding-bottom: 62.5%; - 16:10 aspect ratio */
  /* padding-bottom: 75%; - 4:3 aspect ratio */
  padding-top: 30px;
  margin-bottom: 1em;
  height: 0;
  overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-modal.dark {
  background: var(--primary-color);
  &.hero {
    background: var(--primary-color);
  }
  .box_inner {
    &.about {
      border-radius: 5px;
      @media (min-width: 1600px) {
        width: 1190px;
      }
      @media (max-width: 1600px) {
        width: 1070px;
      }
      @media (max-width: 1400px) {
        width: 900px;
      }
      @media (max-width: 992px) {
        width: 700px;
      }
      @media (max-width: 599px) {
        width: 460px;
      }
      @media (max-width: 490px) {
        width: 360px;
      }
      @media (max-width: 420px) {
        width: 320px;
      }
      border: 2px solid var(--accent6);
    }
    &.portfolio {
      @media (min-width: 1600px) {
        width: 660px;
        height: auto;
      }
      @media (max-width: 1499px) {
        height: auto;
      }
    }
  }
}
